#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:15px;

}
h1{
    color:red;
    
}
.box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 5px solid green;

    padding: 10px 25px;
}
